body {
	background-image: url("../img/background.jpg");
	background-repeat: no-repeat;
	background-position: top center;
	background-attachment: fixed;
	background-size: cover;
	position: relative;
}

main,footer {
	padding: 5%;
	margin: 0px auto;
}

main {
	background-color: #fff;
	width: 90%;
}

#homepage {
	display: block;
}

#questions {
	display: none;
}

#results {
	display: none;
}

#main-logo {
	height: 56px;
	width: 331px;
}

#start {
	display: block;
	color: #fff;
	background-color: #000;
	border-color: #000;
}

.title {
	display: inline;
	color: #01B4DC;
	font-size: 33px;
	font-weight: bold;
}

.main-selection{
	font-size: 18px;
	color: #fff;
}

.row {
	margin-left: 15%;
	margin-right: 15%;
}

.col-8 {
	padding: 5em 0%;
}