/* General */

body {
	background-image: url("../img/background.jpg");
	background-repeat: no-repeat;
	background-position: top center;
	background-attachment: fixed;
	background-size: cover;
	position: relative;
}

main {
	background-color: #fff;
	width: 90%;
}

main,footer {
	padding: 5%;
	margin: 0px auto;
}

body.row {
	margin-left: 15%;
	margin-right: 15%;
}

/*Homepage Section*/

section#homepage {
	display: block;
}

img#main-logo {
	height: 56px;
	width: 331px;
}

p.title {
	display: inline;
	color: #01B4DC;
	font-size: 33px;
	font-weight: bold;
}

button#start {
	display: block;
	color: #fff;
	background-color: #000;
	border-color: #000;
	min-width: 188px;
}


/* Question Section */

section#questions {
	display: none;
}

button#questionBack {
	background-color: #E7EAEB;
	border-color: #E7EAEB;
	width: 50px;
	height: 50px;
	border-radius: 50px;
}

h1#question {
	color: #00B5D8;
	margin-bottom: 25px;
}

p#statement {
	font-size: 25px;
	margin-bottom: 25px;
}

button#skip {
	float: right;
	background-color: #fff;
	border-color: #fff;
	color: #9c9c9c;
}

button.options {
	background-color: #000;
	color: #fff;
	border-color: #000;
	min-width: 188px;
	margin-right: 1.33%;
	margin-bottom: 5%;
}

button.options:hover {
	background-color: #00B5D8;
	border-color: #00B5D8;
}


/* Result Section*/

section#results {
	display: none;
}

svg {
	margin-right: 25px;
}

